.setPasswordContainer {
    text-align: center;
    padding: 20px;
}

.setPasswordContainer input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.setPasswordContainer button {
    padding: 10px 20px;
    background-color: #089;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message {
    margin-top: 10px;
    color: red;
}
